Youtube_Comment_Feedback_1000_con_Webhook.json
{
  "name": "Youtube Comment Feedback 1000 con Webhook",
  "nodes": [
    {
      "parameters": {
        "jsCode": "const url = $json.body?.videoUrl;\nif (!url) throw new Error('Falta videoUrl en $json.body.videoUrl');\n\n// Regex que captura el ID desde múltiples formatos de YouTube\nconst match = url.match(/(?:v=|\\/(?:shorts|embed)\\/|youtu\\.be\\/)([0-9A-Za-z_-]{11})/);\n\nif (!match) throw new Error('No se pudo extraer el videoId. Asegúrate de que sea un link válido de YouTube.');\n\nreturn [{ json: { videoId: match[1] } }];\n"
      },
      "id": "22d69218-3fcf-4684-9231-2c01efb55f77",
      "name": "Procesar: Extraer Video ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        380,
        -240
      ]
    },
    {
      "parameters": {
        "url": "https://www.googleapis.com/youtube/v3/commentThreads",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "part",
              "value": "snippet"
            },
            {
              "name": "videoId",
              "value": "={{$json.videoId}}"
            },
            {
              "name": "maxResults",
              "value": "100"
            },
            {
              "name": "key",
              "value": "=AIzaSyD6s33ouosn6CtbzKMov22PkwTtwzE1Q6Y"
            }
          ]
        },
        "options": {
          "pagination": {
            "pagination": {
              "parameters": {
                "parameters": [
                  {
                    "name": "pageToken",
                    "value": "={{$response.body.nextPageToken}}"
                  }
                ]
              },
              "paginationCompleteWhen": "other",
              "completeExpression": "={{ !$response.body.nextPageToken }}",
              "limitPagesFetched": true,
              "maxRequests": 10
            }
          }
        }
      },
      "id": "6a64293e-886c-40c5-b4ad-6f87da18ec1d",
      "name": "API YouTube: Obtener Comentarios (paginar)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        180,
        40
      ]
    },
    {
      "parameters": {
        "jsCode": "// Código previo que extrae todos los comentarios en un array “comments”\nconst strip = h => h.replace(/<[^>]*>/g,'').replace(/\\s+/g,' ').trim();\nlet comments = [];\nitems.forEach(p => {\n  (p.json.items || []).forEach(i => comments.push(strip(i.snippet.topLevelComment.snippet.textDisplay)));\n});\n\n// Filtrar duplicados manteniendo orden\nconst seen = new Set();\nconst unique = [];\nfor (const c of comments) {\n  if (!seen.has(c)) {\n    seen.add(c);\n    unique.push(c);\n  }\n}\n\n// Limita a 1000 si quieres\nreturn [{ json: { comments: unique.slice(0, 1000), totalFetched: unique.length } }];\n"
      },
      "id": "a16a13f2-9846-465e-9e41-c13f36e9eb92",
      "name": "Limpiar y Unificar Comentarios",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        40
      ]
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.3,
      "position": [
        620,
        -100
      ],
      "id": "8676d9f7-1626-4c96-a34d-6bd8e869742b",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "youtube-comments",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        160,
        -240
      ],
      "id": "d09789d3-175a-4d95-873f-937e21cd42d9",
      "name": "Webhook",
      "webhookId": "c3b65cca-22ad-4b32-bbbe-4d891ae84646"
    }
  ],
  "pinData": {},
  "connections": {
    "Procesar: Extraer Video ID": {
      "main": [
        [
          {
            "node": "API YouTube: Obtener Comentarios (paginar)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "API YouTube: Obtener Comentarios (paginar)": {
      "main": [
        [
          {
            "node": "Limpiar y Unificar Comentarios",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limpiar y Unificar Comentarios": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Procesar: Extraer Video ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "48a6e004-0b0c-44fd-9b03-5395304a4905",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6d0ec5d5df4b70b922a3f1c36d18315b43b67eee2316b6dd7bd3f35a0f1e6036"
  },
  "id": "S4bpQ99CALv1p5rQ",
  "tags": []
}